<h1>New link</h1>

<%= form_for @link do |f| %>
  <div class="field">
    <%= f.label :url, 'URL' %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
